{% extends "vesoul-edition/base.html.twig" %}

{% block content %}

<div class="inscription-wrapper d-flex justify-content-center align-items-center">

    <div class="row">

        <div class="px-5 inscription-part-left col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-center">Bienvenue !</h1>
            <p class="text-center p-5">Veuillez saisir vos informations pour vous inscrire sur le site de Vesoul Edition</p>
        </div>

        <div class="p-5 inscription-part-right col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <h3 class="text-center pb-5 m-0">Créez votre compte</h3>

            {{ form_start(form, {'attr' : {'class': 'form-signin d-flex flex-column justify-content-center align-items-center' }}) }}

                {{ form_row(form.username) }}

                {{ form_row(form.password) }}

                {{ form_row(form.confirm_password) }}

                {{ form_row(form.gender) }}

                <div class="d-flex justify-content-between wrapper-lastname-firstname">
                    {{ form_row(form.firstname) }}

                    {{ form_row(form.lastname) }}
                </div>

                <div class="wrapper-tel-birth d-flex justify-content-between">
                    {{ form_row(form.tel) }}

                    {{ form_row(form.birth) }}
                </div>

                <button class="btn-inscription btn btn-lg m-3" type="submit">Inscription</button>

        {{ form_end(form) }}

        </div>
    </div>
</div>


{% endblock %}
